<a class="btn-cart header-icones" href="{{ checkout }}"> <svg width="16.000000" height="20.000000" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
	<defs/>
	<path id="Vector" d="M14 4L12 4C12 1.79 10.21 0 8 0C5.78 0 4 1.79 4 4L2 4C0.9 4 0 4.89 0 6L0 18C0 19.1 0.9 20 2 20L14 20C15.1 20 16 19.1 16 18L16 6C16 4.89 15.1 4 14 4ZM8 2C9.09 2 10 2.89 10 4L6 4C6 2.89 6.9 2 8 2ZM14 18L2 18L2 6L4 6L4 8C4 8.54 4.45 9 5 9C5.54 9 6 8.54 6 8L6 6L10 6L10 8C10 8.54 10.45 9 11 9C11.55 9 12 8.54 12 8L12 6L14 6L14 18Z" fill="#010101" fill-opacity="1.000000" fill-rule="nonzero"/>
</svg>
<span>{{ text_items }}</span></a>
